body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
html {font-size:100px; width:100%; height:100%;}
body {font-family:"Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif; position: relative; width:100%; height:100%; font-size:.26rem;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
ul, ol { list-style:none; }
img { border:0; }
em,i,b,strong{ font-style:normal; font-weight:normal;}
a { text-decoration:none; }
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a,button,input,select,textarea,form {-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */}
/***********reset end********************/
body{ 
	position: relative;
	width: 100%;
	height:100%;
	background-color:#fff;
	border-sizing:border-box;
	-webkit-box-sizing:border-box; 
	background-color: #eaeaea;
}
.wrapper{	
	position: relative; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
	-webkit-overflow-scrolling: touch;
}

img{
	width: 100%;
	height: 100%;
}

/*昌河官网wap*/
/*预约试驾*/
.qicheguanjia{ position: relative; width: 100%; height: 100%; overflow-x: hidden;}
.qicheguanjia .banner{ width: 7.5rem; height: 4.23rem;}
.qicheguanjia .cont{ width: 90%; height: 6.66rem; background: #fff; margin: 0 auto; margin-top: .319rem; border-radius: 0.2rem;position: relative;}
.qicheguanjia .cont .conter{ width: 100%; height: 4.82rem; margin: auto;position: absolute;left: 0;right: 0;top: 0;bottom: 0; }
.qicheguanjia .cont .conter .contop{ width: 100%; height: 50%;  display: flex;}
.qicheguanjia .cont .conter .contop .topl{ width: 100%; height: 100%;  display: flex;}
.qicheguanjia .cont .conter .contop .topr{ width: 100%; height: 100%;  display: flex;}
.qicheguanjia .cont .conter .conbot{ width: 100%; height: 50%; display: flex;}
.qicheguanjia .cont .conter .conbot .botl{ width: 100%; height: 100%;} 
.qicheguanjia .cont .conter .conbot .botr{ width: 100%; height: 100%;}
.qicheguanjia .cont .conter .transverse{ width: 4.44rem; height: 1px; background: #cfd2d7; position: absolute; top: 2.15rem;left: 1.15rem; }
.qicheguanjia .cont .conter .vertical{ width: 1px; height: 4.44rem; background: #cfd2d7; position: absolute; top: 0; left: 3.4rem;}
.qicheguanjia .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.qicheguanjia .footer .btn{ position: absolute; left: 50%; bottom: -.35rem; margin-left: -1.45rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; }
.qicheguanjia .footer .btn p{ width: .347rem; height: .326rem; margin-right: .138rem; }

/*个人信息*/
.gerenxinxi{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #FFFFFF; }
.gerenxinxi .title{ width: 100%; height: 1.84rem; display: flex; justify-content: center; align-items: center;}
.gerenxinxi .title p{ width: 1.54rem; height: 1.54rem;border-radius: 50%;overflow: hidden;border: .04rem solid #FFFFFF; }
.gerenxinxi .cont{ width: 100%; height: 8.35rem;}
.gerenxinxi .cont h6{ font-size: .24rem; color: #333333; width: 100%; height: .69rem; background: #eaeaea; padding-left: .35rem; line-height: .69rem; }
.gerenxinxi .cont .change{ padding: 0 .3rem; height: .68rem; border-bottom: .01rem solid #f0f0f0; display: flex; justify-content: space-between; align-items: center; }
.gerenxinxi .cont .change p{ font-size: .24rem; color: #666666; }
.gerenxinxi .cont .change h5{ font-size: .24rem; display: flex; justify-content: space-between; align-items: center; }
.gerenxinxi .cont .change h5 p{ width: .17rem; height: .31rem; margin-left: .37rem;}
.gerenxinxi .cont .change h5 input{ border: none; width: auto; text-align: right; height: .48rem;}
.gerenxinxi .cont .change h5 select{ position: relative; width: 1.5rem; height: .4rem; border: 1px solid #f0f0f0;}
.gerenxinxi .cont .change h5 select.pro{ margin-left: .2rem;}

.gerenxinxi .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.gerenxinxi .footer .btn{ font-size: .26rem; letter-spacing: .15rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; margin-top:.6rem ;}


/*个人中心*/
.gerenzhongxin{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #eaeaea; }
.gerenzhongxin .title{ display: flex; justify-content: center; width: 100%; height: 4.43rem; background:url(../img/title.png) no-repeat 100%;background-size:100% 4.43rem;position: relative;}
.gerenzhongxin .title h1{ width: .43rem; height: .43rem; position: absolute; top: .2rem; right: .35rem; }
.gerenzhongxin .title .portrait{ width: 2.19rem;height:auto; margin-top: 1.36rem; display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .title .portrait p{ width: 1.53rem;height: 1.53rem;border-radius: 50%;overflow: hidden;border: .04rem solid #FFFFFF; }
.gerenzhongxin .title .portrait h6{ font-size: .24rem; margin: .15rem 0; }
.gerenzhongxin .title .portrait h5{ color: #f6348f; background: url(../img/juxing.png) no-repeat; background-size: 2.15rem .69rem; display: inline; font-size: .24rem; width: 2.15rem; height: .69rem; text-align: center; line-height: .69rem;}
.gerenzhongxin .title .portrait h5 span{ color: #2349d5; }
.gerenzhongxin .cont{ width: 100%; height: 6.01rem;  }
.gerenzhongxin .cont .classification{ width: 90%; margin: 0 auto; height: 2rem;  display: flex; justify-content: space-around;align-items: center;}
.gerenzhongxin .cont .classification dl{ text-align: center; display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .classification dl dt{ width: .69rem; height: .69rem; position: relative;}
.gerenzhongxin .cont .classification dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .cont .classification dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter{ width: 90%; height: 4.05rem; background: #FFFFFF; margin: 0 auto; border-radius: .1rem; }
.gerenzhongxin .cont .conter .top{ width: 100%; height: 50%;  display: flex; justify-content: space-around; align-items: center;}
.gerenzhongxin .cont .conter .top a{ width: 35%; display: block; }
.gerenzhongxin .cont .conter .top dl{ display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .conter .top dl dt{ position: relative; }
.gerenzhongxin .cont .conter .top dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .cont .conter .top dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter .bottom{ width: 100%; height: 50%;  display: flex; justify-content: space-around; align-items: center;}
.gerenzhongxin .cont .conter .bottom a{ width: 35%; display: block; }
.gerenzhongxin .cont .conter .bottom dl{ display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .conter .bottom dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter .bottom dl dt{ position: relative; }
.gerenzhongxin .cont .conter .bottom dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .footer{ width: 100%; height: auto; }
.gerenzhongxin .footer p{ font-size: .14rem; color: #999999; text-align: center; margin-top: .9rem; padding-bottom: .3rem; }

/*话题详情*/
.huatixiangqing{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #eaeaea; }
.huatixiangqing .title{ background: #FFFFFF; padding: 0 .35rem;}
.huatixiangqing .title h1{ font-size: .32rem; color: 333333; font-weight: bolder;padding-top: .3rem;}
.huatixiangqing .title .activity{ width: 100%; height: .75rem; display: flex; justify-content: space-between; border-bottom: .01rem solid #f0f0f0; align-items: center;}

.huatixiangqing .title .activity p span{ font-size: .28rem; color: #ff5151;}
.huatixiangqing .title .banner{ width: 100%; height: 3.80rem; margin-top: .2rem; }
.huatixiangqing h2{ font-size: .24rem; color: #333333;line-height: .43rem; padding: .2rem 0; }
.huatixiangqing .title .wind{ display: flex; justify-content: space-between; align-items: center; width: 100%; height: .68rem; border-bottom: .01rem solid #F0F0F0; border-top: .01rem solid #F0F0F0; }
.huatixiangqing .title .wind .infoBox{ position: relative;display: flex; align-items: center;}
.huatixiangqing .title .wind .infoBox b{ margin-right: .1rem; position:relative; display:inline-block; width:.26rem; height:.26rem; overflow:hidden;background: url(../img/false.png) no-repeat; background-size:100% 100%; }
.huatixiangqing .title .wind .infoBox b input{ position:absolute; left:-2rem; opacity: 0;}
.huatixiangqing .title .wind .infoBox b i{ position:absolute; width:.26rem; height:.26rem; left:0; top:0; display:block; z-index:10; background: url(../img/false.png) no-repeat; background-size: 100% 100%; }
.huatixiangqing .title .wind .infoBox b i.active{ background: url(../img/true.png) no-repeat; background-size: 100% 100%;}
.huatixiangqing .title .wind .infoBox b i img{ width:100%; height:100%;}
.huatixiangqing .title .wind .infoBox .chekboxLab{ font-size: .24rem; font-weight: bold; color: #333333; }
.huatixiangqing .title .wind .eye{ width: 3.14rem; height: .32rem;  red; display: flex; justify-content: space-between; align-items: center;}
.huatixiangqing .title .wind .eye dl{ display: flex; font-size: .18rem; color: #666666; }
.huatixiangqing .title .wind .eye dl dd{ padding-left: .12rem; }
.huatixiangqing .title .period{ width: 100%; height: 1.45rem; }
.huatixiangqing .title .period h6{ font-size: .28rem; font-weight: bold; color: #333333; padding-top: .16rem; }
.huatixiangqing .title .period h1{ height: .32rem; width: 100%; padding-top: .2rem; display: flex;}
.huatixiangqing .title .period h1 p{ width: .32rem; height: .32rem; margin: 0; padding: 0; }
.huatixiangqing .title .period h1 span{ font-size: .24rem; color: #666666; padding-left: .1rem; }
.huatixiangqing .title .period h5{ font-size: .24rem; color: #666666; padding-top: .08rem; font-weight: bold; }
.huatixiangqing .hot{ height: 5.83rem; margin: .22rem 0; background: #FFFFFF; padding: 0 .35rem; } 
.huatixiangqing .hot .title{  height: .69rem; border-bottom: .01rem solid #f2f2f2; }
.huatixiangqing .hot .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huatixiangqing .hot .hotcont{ width: 100%; height: 5rem; }
.huatixiangqing .hot .hotcont .name{ height: .86rem; display: flex; margin-top: .15rem; }
.huatixiangqing .hot .hotcont .name p{ width: .86rem; height: .86rem; }
.huatixiangqing .hot .hotcont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huatixiangqing .hot .hotcont .name .word h6{ font-size: .24rem; color: #333333; }
.huatixiangqing .hot .hotcont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huatixiangqing .hot .hotcont .pictr{ width: 4.68rem; height: 3.11rem;  margin-left: 1.06rem; margin-top: .25rem;}
.huatixiangqing .hot .hotcont .pictr .top{ width: 100%; height: 1.43rem; display: flex; justify-content: space-between;}
.huatixiangqing .hot .hotcont .pictr .top h3{ width: 1.43rem; height: 1.42rem; }
.huatixiangqing .hot .hotcont .pictr .bottom{ margin-top: .22rem; width: 100%; height: 1.43rem; display: flex; justify-content: space-between; }
.huatixiangqing .hot .hotcont .pictr .bottom h3{ width: 1.43rem; height: 1.42rem; }
.huatixiangqing .hot .hotcont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huatixiangqing .hot .hotcont .foot p{ font-size: .2rem; color: #999999; }
.huatixiangqing .hot .hotcont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huatixiangqing .hot .hotcont .foot .hou dl{ display: flex; }
.huatixiangqing .hot .hotcont .foot .hou dl dd{ font-size: .16rem; color: #666666; }
.huatixiangqing .anser{ position: relative; height: 5.73rem; background: #FFFFFF; padding: 0 .35rem; margin-bottom: 1.25rem; }
.huatixiangqing .anser .title{ height: .69rem; border-bottom: .01rem solid #f2f2f2; }
.huatixiangqing .anser .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huatixiangqing .anser .ancont{ border-bottom: .01rem solid #F2F2F2; width: 100%; height: 1.68rem; display: flex; flex-direction: column; justify-content: center; }
.huatixiangqing .anser .ancont .name{ height: .86rem; display: flex; }
.huatixiangqing .anser .ancont .name p{ width: .86rem; height: .86rem; }
.huatixiangqing .anser .ancont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huatixiangqing .anser .ancont .name .word h6{ font-size: .24rem; color: #333333; }
.huatixiangqing .anser .ancont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huatixiangqing .anser .ancont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huatixiangqing .anser .ancont .foot p{ font-size: .2rem; color: #999999; }
.huatixiangqing .anser .ancont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huatixiangqing .anser .ancont .foot .hou dl{ display: flex; }
.huatixiangqing .anser .ancont .foot .hou dl dd{ font-size: .16rem; color: #666666; }
.huatixiangqing .footer{ display: flex; justify-content: space-around; width: 100%; align-items: center;  height: 1.25rem; border-top: .01rem solid #f4f4f4; background: #FFFFFF; position: fixed; bottom: 0; left: 0; }
.huatixiangqing .footer p{ width: .53rem; height: .53rem; }
.huatixiangqing .footer input{ color: #999999; font-size: .26rem; padding-left: .23rem; width: 5.96rem ; height: .67rem; border: .01rem solid #bdbdbd; border-radius: .1rem;}


/*回答详情*/
.huidaxiangqing{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #FFFFFF; }
.huidaxiangqing .hot{ height: 5.83rem; margin: .22rem 0; background: #FFFFFF; padding: 0 .35rem; } 
.huidaxiangqing .hot .title{  height: .69rem; border-bottom: .01rem solid #f2f2f2; }
.huidaxiangqing .hot .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huidaxiangqing .hot .hotcont{ width: 100%; height: 5rem; }
.huidaxiangqing .hot .hotcont .name{ height: .86rem; display: flex; margin-top: .15rem; }
.huidaxiangqing .hot .hotcont .name p{ width: .86rem; height: .86rem; }
.huidaxiangqing .hot .hotcont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .hot .hotcont .name .word h6{ font-size: .24rem; color: #333333; }
.huidaxiangqing .hot .hotcont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huidaxiangqing .hot .hotcont .pictr{ width: 4.68rem; height: 3.11rem;  margin-left: 1.06rem; margin-top: .25rem;}
.huidaxiangqing .hot .hotcont .pictr .top{ width: 100%; height: 1.43rem; display: flex; justify-content: space-between;}
.huidaxiangqing .hot .hotcont .pictr .top h3{ width: 1.43rem; height: 1.42rem; }
.huidaxiangqing .hot .hotcont .pictr .bottom{ margin-top: .22rem; width: 100%; height: 1.43rem; display: flex; justify-content: space-between; }
.huidaxiangqing .hot .hotcont .pictr .bottom h3{ width: 1.43rem; height: 1.42rem; }
.huidaxiangqing .hot .hotcont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huidaxiangqing .hot .hotcont .foot p{ font-size: .2rem; color: #999999; }
.huidaxiangqing .hot .hotcont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huidaxiangqing .hot .hotcont .foot .hou dl{ display: flex; }
.huidaxiangqing .hot .hotcont .foot .hou dl dd{ font-size: .16rem; color: #666666; }



.huidaxiangqing .anser{ width: 93%; height: auto; background: #FFFFFF;  margin:0 auto; }
.huidaxiangqing .anser .cont{ height: auto; background: #E6E6E6;  padding: 0 .35rem; }
.huidaxiangqing .anser .title{ height: .69rem; border-bottom: .01rem solid #dddddd; }
.huidaxiangqing .anser .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huidaxiangqing .anser .ancont{ border-bottom: .01rem solid #dddddd; width: 100%; height: 1.68rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .anser .ancont .name{ height: .86rem; display: flex; }
.huidaxiangqing .anser .ancont .name p{ width: .86rem; height: .86rem; }
.huidaxiangqing .anser .ancont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .anser .ancont .name .word h6{ font-size: .24rem; color: #333333; display: flex; justify-content: space-between; align-items: center;}
.huidaxiangqing .anser .ancont .name .word h6 span{ padding: 0; font-size: .2rem; color: #999999; }
.huidaxiangqing .anser .ancont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huidaxiangqing .anser .ancont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huidaxiangqing .anser .ancont .foot p{ font-size: .2rem; color: #999999; }
.huidaxiangqing .anser .ancont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huidaxiangqing .anser .ancont .foot .hou dl{ display: flex; }
.huidaxiangqing .anser .ancont .foot .hou dl dd{ font-size: .16rem; color: #666666; }
.huidaxiangqing .footer{ display: flex; justify-content: space-around; width: 100%; align-items: center;  height: 1.25rem; border-top: .01rem solid #f4f4f4; background: #FFFFFF; position: fixed; bottom: 0; left: 0; }
.huidaxiangqing .footer p{ width: .53rem; height: .53rem; }
.huidaxiangqing .footer input{ color: #999999; font-size: .26rem; padding-left: .23rem; width: 5.96rem ; height: .67rem; border: .01rem solid #bdbdbd; border-radius: .1rem;}

/*新增地址*/
.xinzengdizhi .cont{ width: 100%; height: auto; background: #FFFFFF;}
.xinzengdizhi .cont h6{ font-size: .24rem; color: #333333; width: 100%; height: .69rem; background: #eaeaea; padding-left: .35rem; line-height: .69rem; }
.xinzengdizhi .cont .change{ padding: 0 .3rem; height: .82rem; border-bottom: .01rem solid #f0f0f0; display: flex; justify-content: space-between; align-items: center; }
.xinzengdizhi .cont .change p{ font-size: .25rem; color: #666666; }
.xinzengdizhi .cont .change h5{ font-size: .25rem; display: flex; justify-content: space-between; align-items: center; }
.xinzengdizhi .cont .change h5 p{ width: .17rem; height: .31rem; margin-left: .37rem;}
.xinzengdizhi .cont .change h5 input{ border: none; width: auto; text-align: right; height: .48rem;}
.xinzengdizhi .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.xinzengdizhi .footer .btn{ font-size: .26rem; letter-spacing: .15rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; margin-top:.6rem ;}

.xinzengdizhi .infoBox{ position: relative; padding: .5rem 0 .7rem 0; width: 100%; height: auto;}
.xinzengdizhi .infoBox b{ position:relative; margin: .1rem .12rem 0 .6rem; display:inline-block; width:.26rem; height:.26rem; overflow:hidden;background: url(../img/no.png) no-repeat; background-size:100% 100%; }
.xinzengdizhi .infoBox b input{ position:absolute; left:-2rem; opacity: 0;}
.xinzengdizhi .infoBox b i{ position:absolute; width:.26rem; height:.26rem; left:0; top:0; display:block; z-index:10; background: url(../img/no.png) no-repeat; background-size: 100% 100%; }
.xinzengdizhi .infoBox b i.active{ background: url(../img/yes.png) no-repeat; background-size: 100% 100%;}
.xinzengdizhi .infoBox b i img{ width:100%; height:100%;}
.xinzengdizhi .infoBox span.code{ position: relative; top: .2rem; background:#ff8185; font-size:.3rem; color:#fff;}
.xinzengdizhi .infoBox span.code img{position: absolute; top: 0; left: 0; width: 1.2rem; height: .58rem;}
label.chekboxLab{ width:3.2rem; color: #9b9b9b; font-size:.26rem;}
.xinzengdizhi .infoBox label a{ color: #1890ff;}
.xinzengdizhi .submit-btn{ position: relative; left: 50%; margin-left: -3.45rem; margin-bottom: 2.2rem; width: 6.9rem; height: .88rem; font-size: .36rem; color: #fff; text-align: center; line-height: .88rem; background: #487bbc; border: none;}



/*FAN社区*/
.fanshequ{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #eaeaea; }
.fanshequ .cont .classification{ width: 100%; margin: 0 auto; background: #FFFFFF; height: 1.54rem;  display: flex; justify-content: space-around;align-items: center;}
.fanshequ .cont .classification dl{ text-align: center; display: flex; flex-direction: column; align-items: center; }
.fanshequ .cont .classification dl dt{ width: .7rem; height: .7rem;}
.fanshequ .cont .classification dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.fanshequ .conter{ width: 6.82rem;height: 8rem; margin: 0 auto; }
.fanshequ .conter #tit {height: .64rem;width: 5.56rem; margin: 0 auto; border-bottom: .01rem solid #2cc2c8;}
.fanshequ .conter #tit span {float: left;  display: block; line-height: .64rem; width: 50%; font-size: .24rem; text-align: center; color: #333333; height: .64rem;}
.fanshequ .conter #con li{display: none; width: 100%; height: auto;text-align: center; margin-top: .35rem;}
.fanshequ .conter #tit span.select {border-bottom: .1rem solid #2cc2c8; color: #ff5151;}
.fanshequ .conter #con li.show {display: block;}
.fanshequ .conter #con li .carcont{ width: 100%; height: 6rem; background: #FFFFFF; margin-bottom: .2rem; }
.fanshequ .conter #con li .carcont .banner{ width: 100%; height: 3.84rem; position: relative; }
.fanshequ .conter #con li .carcont .banner p{ width: .62rem; hanging-punctuation: 1.56rem; position: absolute;top: -.1rem; right: .18rem; }
.fanshequ .conter #con li .carcont h6{     margin-top: .15rem;line-height: .34rem; font-size: .2rem; color: #666666; text-align: left; padding: 0 .22rem; }
.fanshequ .conter #con li .carcont .wind{ margin-top: .28rem; display: flex; justify-content: space-between; align-items: center; padding: 0 .22rem; height: .68rem; border-bottom: .01rem solid #F0F0F0; border-top: .01rem solid #F0F0F0; }
.fanshequ .conter #con li .carcont .wind .eye{ width: 3.14rem; height: .32rem;  red; display: flex; justify-content: space-between; align-items: center;}
.fanshequ .conter #con li .carcont .wind .eye dl{ display: flex; font-size: .18rem; color: #666666; }
.fanshequ .conter #con li .carcont .wind .eye dl dd{ padding-left: .12rem; }
.fanshequ .conter #con li .carcont .wind p{ font-size: .16rem; color: #666666; }

























