body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
html {font-size:100px; width:100%; height:100%;}
body {font-family:"Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif; position: relative; width:100%; height:100%; font-size:.26rem;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
ul, ol { list-style:none; }
img { border:0; }
em,i,b,strong{ font-style:normal; font-weight:normal;}
a { text-decoration:none; }
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a,button,input,select,textarea,form {-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */}
/***********reset end********************/
body{ 
	position: relative;
	width: 100%;
	height:100%;
	background-color:#fff;
	border-sizing:border-box;
	-webkit-box-sizing:border-box; 
	background-color: #eaeaea;
}
.wrapper{	
	position: relative; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
	-webkit-overflow-scrolling: touch;
}

img{
	width: 100%;
	height: 100%;
}

/*昌河官网wap*/
/*预约试驾*/
.qicheguanjia{ position: relative; width: 100%; height: 100%; overflow-x: hidden;}
.qicheguanjia .banner{ width: 7.5rem; height: 4.23rem;}
.qicheguanjia .cont{ width: 90%; height: 6.66rem; background: #fff; margin: 0 auto; margin-top: .319rem; border-radius: 0.2rem;position: relative;}
.qicheguanjia .cont .conter{ width: 100%; height: 4.82rem; margin: auto;position: absolute;left: 0;right: 0;top: 0;bottom: 0; }
.qicheguanjia .cont .conter .contop{ width: 100%; height: 50%;  display: flex;}
.qicheguanjia .cont .conter .contop .topl{ width: 100%; height: 100%;  display: flex;}
.qicheguanjia .cont .conter .contop .topr{ width: 100%; height: 100%;  display: flex;}
.qicheguanjia .cont .conter .conbot{ width: 100%; height: 50%; display: flex;}
.qicheguanjia .cont .conter .conbot .botl{ width: 100%; height: 100%;} 
.qicheguanjia .cont .conter .conbot .botr{ width: 100%; height: 100%;}
.qicheguanjia .cont .conter .transverse{ width: 4.44rem; height: 1px; background: #cfd2d7; position: absolute; top: 2.15rem;left: 1.15rem; }
.qicheguanjia .cont .conter .vertical{ width: 1px; height: 4.44rem; background: #cfd2d7; position: absolute; top: 0; left: 3.4rem;}
.qicheguanjia .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.qicheguanjia .footer .btn{ position: absolute; left: 50%; bottom: -.35rem; margin-left: -1.45rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; }
.qicheguanjia .footer .btn p{ width: .347rem; height: .326rem; margin-right: .138rem; }

/*个人信息*/
.gerenxinxi{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #FFFFFF; }
.gerenxinxi .title{ width: 100%; height: 1.84rem; display: flex; justify-content: center; align-items: center;}
.gerenxinxi .title p{ width: 1.54rem; height: 1.54rem;border-radius: 50%;overflow: hidden;border: .04rem solid #FFFFFF; }
.gerenxinxi .cont{ width: 100%; height: 8.35rem;}
.gerenxinxi .cont h6{ font-size: .24rem; color: #333333; width: 100%; height: .69rem; background: #eaeaea; padding-left: .35rem; line-height: .69rem; }
.gerenxinxi .cont .change{ padding: 0 .3rem; height: .68rem; border-bottom: .01rem solid #f0f0f0; display: flex; justify-content: space-between; align-items: center; }
.gerenxinxi .cont .change p{ font-size: .24rem; color: #666666; }
.gerenxinxi .cont .change h5{ font-size: .24rem; display: flex; justify-content: space-between; align-items: center; }
.gerenxinxi .cont .change h5 p{ width: .17rem; height: .31rem; margin-left: .37rem;}
.gerenxinxi .cont .change h5 input{ border: none; width: auto; text-align: right; height: .48rem;}
.gerenxinxi .cont .change h5 select{ position: relative; width: 1.5rem; height: .4rem; border: 1px solid #f0f0f0;}
.gerenxinxi .cont .change h5 select.pro{ margin-left: .2rem;}

.gerenxinxi .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.gerenxinxi .footer .btn{ font-size: .26rem; letter-spacing: .15rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; margin-top:.6rem ;}


/*个人中心*/
.gerenzhongxin{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #eaeaea; }
.gerenzhongxin .title{ display: flex; justify-content: center; width: 100%; height: 4.43rem; background:url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/title.png) no-repeat 100%;background-size:100% 4.43rem;position: relative;}
.gerenzhongxin .title h1{ width: .43rem; height: .43rem; position: absolute; top: .2rem; right: .35rem; }
.gerenzhongxin .title .portrait{ width: 2.19rem;height:auto; margin-top: 1.36rem; display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .title .portrait p{ width: 1.53rem;height: 1.53rem;border-radius: 50%;overflow: hidden;border: .04rem solid #FFFFFF; }
.gerenzhongxin .title .portrait h6{ font-size: .24rem; margin: .15rem 0; }
.gerenzhongxin .title .portrait h5{ color: #f6348f; background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/juxing.png) no-repeat; background-size: 2.15rem .69rem; display: inline; font-size: .24rem; width: 2.15rem; height: .69rem; text-align: center; line-height: .69rem;}
.gerenzhongxin .title .portrait h5 span{ color: #2349d5; }
.gerenzhongxin .cont{ width: 100%; height: 6.01rem;  }
.gerenzhongxin .cont .classification{ width: 90%; margin: 0 auto; height: 2rem;  display: flex; justify-content: space-around;align-items: center;}
.gerenzhongxin .cont .classification dl{ text-align: center; display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .classification dl dt{ width: .69rem; height: .69rem; position: relative;}
.gerenzhongxin .cont .classification dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .cont .classification dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter{ width: 90%; height: 4.05rem; background: #FFFFFF; margin: 0 auto; border-radius: .1rem; }
.gerenzhongxin .cont .conter .top{ width: 100%; height: 50%;  display: flex; justify-content: space-around; align-items: center;}
.gerenzhongxin .cont .conter .top a{ width: 35%; display: block; }
.gerenzhongxin .cont .conter .top dl{ display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .conter .top dl dt{ position: relative; }
.gerenzhongxin .cont .conter .top dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .cont .conter .top dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter .bottom{ width: 100%; height: 50%;  display: flex; justify-content: space-around; align-items: center;}
.gerenzhongxin .cont .conter .bottom a{ width: 35%; display: block; }
.gerenzhongxin .cont .conter .bottom dl{ display: flex; flex-direction: column; align-items: center; }
.gerenzhongxin .cont .conter .bottom dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.gerenzhongxin .cont .conter .bottom dl dt{ position: relative; }
.gerenzhongxin .cont .conter .bottom dl dt p{ position: absolute; top: -.12rem; right: -.2rem; width: .32rem; height: .32rem; border-radius: 50%; background: #ff5151; color: #FFFFFF; text-align: center; line-height: .32rem; font-size: .12rem;  }
.gerenzhongxin .footer{ width: 100%; height: auto; }
.gerenzhongxin .footer p{ font-size: .14rem; color: #999999; text-align: center; margin-top: .9rem; padding-bottom: .3rem; }

/*话题详情*/
.huatixiangqing{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #fff; }
.huatixiangqing .title{ background: #FFFFFF; padding: 0 .35rem;}
.huatixiangqing .title h1{ font-size: .32rem; color: 333333; font-weight: bolder;padding-top: .3rem;}
.huatixiangqing .title .activity{ width: 100%; height: .75rem; display: flex; justify-content: space-between; border-bottom: .01rem solid #f0f0f0; align-items: center;}

.huatixiangqing .title .activity p span{ font-size: .28rem; color: #ff5151;}
.huatixiangqing .title .banner{ width: 100%; height: 3.80rem; margin-top: .2rem; }
.huatixiangqing h2{ font-size: .24rem; color: #333333;line-height: .43rem; padding: .2rem 0; }
.huatixiangqing .title .wind{ display: flex; justify-content: space-between; align-items: center; width: 100%; height: .68rem; border-bottom: .01rem solid #F0F0F0; }
.huatixiangqing .title .wind .infoBox{ visibility: hidden;}
.huatixiangqing .title .wind .eye{ width: 3.14rem; height: .32rem;  red; display: flex; justify-content: space-between; align-items: center;}
.huatixiangqing .title .wind .eye dl{ display: flex; font-size: .18rem; color: #666666; }
.huatixiangqing .title .wind .eye dl dd{ padding-left: .12rem; }
.huatixiangqing .title .period{ width: 100%; height: 1.25rem; display: flex; align-items: center; }
.huatixiangqing .title .period h2{ width: .86rem; height: .86rem; }
.huatixiangqing .title .period p{ height: .24rem; color: #333333; padding-left: .24rem;}
.huatixiangqing  .titles{ padding: 0 .35rem; background: #eaeaea; height: .69rem; border-bottom: .01rem solid #f2f2f2; }
.huatixiangqing  .titles p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huatixiangqing .anser{ margin-bottom: 1.25rem; position: relative; height: auto; background: #FFFFFF; padding: 0 .35rem; }
.huatixiangqing .anser .ancont{ border-bottom: .01rem solid #F2F2F2; width: 100%; height: 1.68rem; display: flex; flex-direction: column; justify-content: center; }
.huatixiangqing .anser .ancont .name{ height: .86rem; display: flex; }
.huatixiangqing .anser .ancont .name p{ width: .86rem; height: .86rem; }
.huatixiangqing .anser .ancont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huatixiangqing .anser .ancont .name .word h6{ font-size: .24rem; color: #333333; }
.huatixiangqing .anser .ancont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huatixiangqing .anser .ancont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huatixiangqing .anser .ancont .foot p{ font-size: .2rem; color: #999999; }
.huatixiangqing .anser .ancont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huatixiangqing .anser .ancont .foot .hou dl{ display: flex; }
.huatixiangqing .anser .ancont .foot .hou dl dd{ font-size: .16rem; color: #666666; }
.huatixiangqing .footer{ z-index: 10; display: flex; justify-content: space-around; width: 100%; align-items: center;  height: 1.25rem; border-top: .01rem solid #f4f4f4; background: #FFFFFF; position: fixed; bottom: 0; left: 0; }
.huatixiangqing .footer p{ width: .53rem; height: .53rem; }
.huatixiangqing .footer input{ color: #999999; font-size: .26rem; padding-left: .23rem; width: 5.96rem ; height: .67rem; border: .01rem solid #bdbdbd; border-radius: .1rem;}

/*回答详情*/
.huidaxiangqing{ position: relative; width: 100%; height: 100%; overflow-x: hidden; background: #FFFFFF; }
.huidaxiangqing .hot{ height: 5.83rem; margin: .22rem 0; background: #FFFFFF; padding: 0 .35rem; } 
.huidaxiangqing .hot .title{  height: .69rem; border-bottom: .01rem solid #f2f2f2; }
.huidaxiangqing .hot .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huidaxiangqing .hot .hotcont{ width: 100%; height: 5rem; }
.huidaxiangqing .hot .hotcont .name{ height: .86rem; display: flex; margin-top: .15rem; }
.huidaxiangqing .hot .hotcont .name p{ width: .86rem; height: .86rem; }
.huidaxiangqing .hot .hotcont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .hot .hotcont .name .word h6{ font-size: .24rem; color: #333333; }
.huidaxiangqing .hot .hotcont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huidaxiangqing .hot .hotcont .pictr{ width: 4.68rem; height: 3.11rem;  margin-left: 1.06rem; margin-top: .25rem;}
.huidaxiangqing .hot .hotcont .pictr .top{ width: 100%; height: 1.43rem; display: flex; justify-content: space-between;}
.huidaxiangqing .hot .hotcont .pictr .top h3{ width: 1.43rem; height: 1.42rem; }
.huidaxiangqing .hot .hotcont .pictr .bottom{ margin-top: .22rem; width: 100%; height: 1.43rem; display: flex; justify-content: space-between; }
.huidaxiangqing .hot .hotcont .pictr .bottom h3{ width: 1.43rem; height: 1.42rem; }
.huidaxiangqing .hot .hotcont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huidaxiangqing .hot .hotcont .foot p{ font-size: .2rem; color: #999999; }
.huidaxiangqing .hot .hotcont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huidaxiangqing .hot .hotcont .foot .hou dl{ display: flex; }
.huidaxiangqing .hot .hotcont .foot .hou dl dd{ font-size: .16rem; color: #666666; }

.huidaxiangqing .anser{ width: 93%; height: auto; background: #FFFFFF;  margin:0 auto; }
.huidaxiangqing .anser .cont{ height: auto; background: #E6E6E6;  padding: 0 .35rem; }
.huidaxiangqing .anser .title{ height: .69rem; border-bottom: .01rem solid #dddddd; }
.huidaxiangqing .anser .title p{ line-height: .69rem; margin: 0; padding: 0; color: #666666; font-weight: bold; }
.huidaxiangqing .anser .ancont{ border-bottom: .01rem solid #dddddd; width: 100%; height: 1.68rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .anser .ancont .name{ height: .86rem; display: flex; }
.huidaxiangqing .anser .ancont .name p{ width: .86rem; height: .86rem; }
.huidaxiangqing .anser .ancont .name .word{ padding-left: .2rem; font-size: .24rem; display: flex; flex-direction: column; justify-content: center; }
.huidaxiangqing .anser .ancont .name .word h6{ font-size: .24rem; color: #333333; display: flex; justify-content: space-between; align-items: center;}
.huidaxiangqing .anser .ancont .name .word h6 span{ padding: 0; font-size: .2rem; color: #999999; }
.huidaxiangqing .anser .ancont .name .word span{ font-size: .24rem; color: #666666; padding-top: .14rem; }
.huidaxiangqing .anser .ancont .foot{ display: flex; justify-content: space-between; width: 5.5rem; height: .35rem; margin-left: 1.06rem; margin-top: .2rem;}
.huidaxiangqing .anser .ancont .foot p{ font-size: .2rem; color: #999999; }
.huidaxiangqing .anser .ancont .foot .hou{ display: flex; justify-content: space-between; width: 2rem; }
.huidaxiangqing .anser .ancont .foot .hou dl{ display: flex; }
.huidaxiangqing .anser .ancont .foot .hou dl dd{ font-size: .16rem; color: #666666; }
.huidaxiangqing .footer{ display: flex; justify-content: space-around; width: 100%; align-items: center;  height: 1.25rem; border-top: .01rem solid #f4f4f4; background: #FFFFFF; position: fixed; bottom: 0; left: 0; }
.huidaxiangqing .footer p{ width: .53rem; height: .53rem; }
.huidaxiangqing .footer input{ color: #999999; font-size: .26rem; padding-left: .23rem; width: 5.96rem ; height: .67rem; border: .01rem solid #bdbdbd; border-radius: .1rem;}

/*新增地址*/
.xinzengdizhi .cont{ width: 100%; height: auto; background: #FFFFFF;}
.xinzengdizhi .cont h6{ font-size: .24rem; color: #333333; width: 100%; height: .69rem; background: #eaeaea; padding-left: .35rem; line-height: .69rem; }
.xinzengdizhi .cont .change{ padding: 0 .3rem; height: .82rem; border-bottom: .01rem solid #f0f0f0; display: flex; justify-content: space-between; align-items: center; }
.xinzengdizhi .cont .change p{ font-size: .25rem; color: #666666; }
.xinzengdizhi .cont .change h5{ font-size: .25rem; display: flex; justify-content: space-between; align-items: center; }
.xinzengdizhi .cont .change h5 p{ width: .17rem; height: .31rem; margin-left: .37rem;}
.xinzengdizhi .cont .change h5 input{ border: none; width: auto; text-align: right; height: .48rem;}
.xinzengdizhi .footer{ width: 100%; height: auto; display: flex; justify-content: center;}
.xinzengdizhi .footer .btn{ font-size: .26rem; letter-spacing: .15rem; box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5); color: #FFFFFF; width: 2.91rem; height: .694rem; border-radius: .5rem; border: none; background: linear-gradient(to bottom, #4a7db9, #3255ab); display: flex; align-content: center; justify-content: center; margin-top:.6rem ;}

.xinzengdizhi .infoBox{ position: relative; padding: .5rem 0 .7rem 0; width: 100%; height: auto;}
.xinzengdizhi .infoBox b{ position:relative; margin: .1rem .12rem 0 .6rem; display:inline-block; width:.26rem; height:.26rem; overflow:hidden;background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/no.png) no-repeat; background-size:100% 100%; }
.xinzengdizhi .infoBox b input{ position:absolute; left:-2rem; opacity: 0;}
.xinzengdizhi .infoBox b i{ position:absolute; width:.26rem; height:.26rem; left:0; top:0; display:block; z-index:10; background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjiag/no.png) no-repeat; background-size: 100% 100%; }
.xinzengdizhi .infoBox b i.active{ background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/yes.png) no-repeat; background-size: 100% 100%;}
.xinzengdizhi .infoBox b i img{ width:100%; height:100%;}
.xinzengdizhi .infoBox span.code{ position: relative; top: .2rem; background:#ff8185; font-size:.3rem; color:#fff;}
.xinzengdizhi .infoBox span.code img{position: absolute; top: 0; left: 0; width: 1.2rem; height: .58rem;}
label.chekboxLab{ width:3.2rem; color: #9b9b9b; font-size:.26rem;}
.xinzengdizhi .infoBox label a{ color: #1890ff;}
.xinzengdizhi .submit-btn{ position: relative; left: 50%; margin-left: -3.45rem; margin-bottom: 2.2rem; width: 6.9rem; height: .88rem; font-size: .36rem; color: #fff; text-align: center; line-height: .88rem; background: #487bbc; border: none;}

/*FAN社区*/
.padd_40 .fantitle{ width: 100%; height: 4.16rem; position: fixed; top: 0; z-index: 10; }
.padd_40 .swiper-title-container{ position: relative; width: 100%; height: 100%; background: #fff;}
.padd_40{padding-top: 80px;background: #eaeaea;}
.padd_40 .a{text-align:center;line-height: 40px;position: fixed;top: 0;left: 0;width: 100%;z-index: 10; background: #f50;color: #fff;}
.padd_40 .tab{ background: #EAEAEA; display: flex;line-height: 40px;position: fixed;top: 5.7rem;width: 100%;z-index: 10;justify-content: center;}
.padd_40 .tab a{width: 26%;text-align: center;border-bottom: .01rem solid #2cc2c8;color: #333333;}
.padd_40 .tab .active{border-bottom: .1rem solid #2cc2c8; color: #ff5151;}
.padd_40 .panel{margin: 0;}
		
.padd_40 .refreshtip {position: absolute;left: 0;width: 100%;margin: 10px 0;text-align: center;color: #999;}
.padd_40 .swiper-container{ position: fixed;top:6.6rem;bottom:1.05rem;width: 100%;background: #EAEAEA;overflow: visible;}
.padd_40 .loadtip {width: 100%;line-height: .8rem;height: .8rem;text-align: center;color: #999;border-top: 1px solid #ddd;}
.padd_40 .big-box{
	position: absolute;
	left:0;
	top:0;
	width: 200%;
	height: 100%;
	overflow: visible;
}
.padd_40 .big-box .left-scroll,.padd_40 .big-box .right-scroll{
	width: 50%;float: left;height: 100%;overflow: visible;-webkit-overflow-scrolling: touch
}
.padd_40 .swiper-slide{background: #EAEAEA;}
		
.padd_40 .text-center{text-align: center;}
.padd_40 .list-group{padding-left: 0;margin-bottom: 20px;}
.padd_40 .list-group-item{    position: relative; display: block;background-color: #fff;border: 1px solid #ddd;margin-bottom:0.2rem;}
/* .padd_40 .list-group-item:last-of-type {border-top-left-radius: 4px;border-top-right-radius: 4px;} */
.padd_40 .list-group-item:last-of-type{margin-bottom:0;};

.padd_40 .carcont{ width: 100%; background: #FFFFFF; margin-bottom: .2rem; position: relative; }
.padd_40 .carcont .top{ width: 100%; height: 2.5rem; display: flex; align-items: center;justify-content: space-around;}
.padd_40 .carcont .top .rig{ display: flex; flex-direction: column; width: 4.11rem; }
.padd_40 .carcont .top .rig h5{ font-size: .28rem; color: #333333; }
.padd_40 .carcont .top .rig h6{ font-size: .24rem; color: #ff3b5b; }
.padd_40 .carcont .top .rig span{ padding-top: .2rem; display: block; text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 3;  -webkit-box-orient: vertical; color: #666666;   }
.padd_40 .carcont .banner{ width: 2.08rem; height: 2.08rem; }
.padd_40 .carcont .banner img{ width: 100%; height: 100%; flex-shrink: 0; }
.padd_40 .carcont p{ width: .62rem; hanging-punctuation: 1.56rem; position: absolute;top: -.1rem; right: .18rem; }
.padd_40 .carcont h6{     margin-top: .15rem;line-height: .34rem; font-size: .2rem; color: #666666; text-align: left; padding: 0 .22rem; }
.padd_40 .carcont .wind{  display: flex; justify-content: space-between; align-items: center; padding: 0 .22rem; height: .68rem;  border-top: .01rem dashed #F0F0F0; }
.padd_40 .carcont .wind span{ visibility: hidden; }
.padd_40 .carcont .wind .eye{ width: 3.14rem; height: .32rem;  red; display: flex; justify-content: space-between; align-items: center;}
.padd_40 .carcont .wind .eye dl{ display: flex; font-size: .18rem; color: #666666; }
.padd_40 .carcont .wind .eye dl dd{ padding-left: .12rem; }
.padd_40 .carcont .wind p{ font-size: .16rem; color: #666666; }
		
		
.padd_40 .classification{position: absolute;top: 4.16rem; z-index: 10; width: 100%; margin: 0 auto; background: #FFFFFF; height: 1.54rem; display: flex; justify-content: space-around;align-items: center;} 
.padd_40 .classification dl{ text-align: center; display: flex; flex-direction: column; align-items: center; } 
.padd_40 .classification dl dt{ width: .7rem; height: .7rem;} 
.padd_40 .classification dl dd{ color: #333333; font-size: .24rem; padding-top: .2rem;}
.padd_40 .classification dl dd.active{color: #ff5151;}
.padd_40 .footers{ width: 100%; height: 1.05rem; background: #2a2a2a;position: fixed;bottom: 0; z-index: 10;display: flex; justify-content: space-around; align-items: center;}		
.padd_40 .footers dl{ text-align: center; display: flex; flex-direction: column; align-items: center;  }
.padd_40 .footers dl dd{ padding-left: .12rem; font-size: .24rem; color: #fff; padding-top: .1rem;}
/*发布话题*/
.issueATopic{ position: relative; width: 100%; height: 100%; background: #fff;}
.issueATopic .section1{ position: relative; margin-left: .35rem; margin-bottom: .15rem; width: 6.8rem; height: .8rem;}
.issueATopic .section1 span{ position: relative; margin-top: .3rem; display: inline-block; font-size: .28rem; color: #666;}
.issueATopic .section1 input{ position: relative; width: 6rem; height: .46rem; color: #999; border: none;}
.issueATopic .section2{ position: relative; margin-left: .35rem; width: 6.8rem; height: .5rem;}
.issueATopic .section2 span{ float: left; position: relative; margin-right: .2rem; display: block; width: 1.5rem; height: .52rem; font-size: .25rem; color: #fff; text-align: center; line-height: .52rem;}
.issueATopic .section2 span:nth-child(1){ background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/textbg1.png) no-repeat; background-size: 100% 100%;}
.issueATopic .section2 span:nth-child(2){ background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/textbg2.png) no-repeat; background-size: 100% 100%;}
.issueATopic .section2 span:nth-child(3){ background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/textbg3.png) no-repeat; background-size: 100% 100%;}
.issueATopic .section3{ position: relative; margin-left: .35rem; margin-top: .25rem; margin-bottom: .2rem; width: 6.8rem; height: 2.2rem;}
.issueATopic .section3 textarea{ display: block; padding: .1rem; width: 6.6rem; height: 2rem; resize: none; border: 1px solid #e9e9e9; background: #eeeeee;}
.issueATopic .section4{ position: relative; margin-top: .25rem; width: 100% !important; height: auto !important; border-top: 1px solid #b7b7b7;  background-color: #fff;}
.issueATopic button{ position: relative; left: 50%; margin-left: -1.45rem; margin-top: 1rem; width: 2.9rem; height: .7rem; font-size: .28rem; text-align: center; line-height: .7rem; color: #fff; border-radius: .35rem; background-color: #3d67b1; border:none;}

/*发表评论*/
.fillComments{ position: relative; width: 100%; height: 100%;}
.fillComments .top{ position: relative; width: 100%; height: .84rem; border-bottom: 1px solid #f1f1f1;}
.fillComments .top i{ position: absolute; top: .3rem; left: .48rem; width: .36rem; height: .36rem; display: block; background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/back-icon.png) no-repeat; background-size: 100% 100%;}
.fillComments .top p{ font-size: .3rem; color: #f51f21; text-align: center; line-height: .84rem; font-weight: bold;}
.fillComments .main h2{ position: relative; margin-left: .5rem; font-size: .25rem; color: #898f8b; line-height: 1.1rem;}
.fillComments .main textarea{ position: relative; padding: .2rem; left: 50%; margin-left: -3.22rem; width: 6.05rem; height: 2.6rem; border: 1px solid #e3e3e3; background: #fff; resize: none;}
.fillComments .main button{ position: relative; margin-left: .5rem; margin-top: .42rem; width: 6.45rem; height: .84rem; border: .1rem; font-size: .3rem; color: #fff; font-weight: bold; text-align: center; line-height: .84rem; background-color: #50b297; border-radius: .06rem;}

/*电话弹窗*/
.tel-laryer{ position: absolute; left: 50%; top: 50%; margin: -1.75rem 0 0 -3rem; width: 6rem; height: 3.5rem; background: rgba(0,0,0,.6); border-radius: .2rem;}
.tel-laryer .close-btn{ position: absolute; top: .1rem; right: .1rem; width: .36rem; height: .36rem; background: url(http://weixin.baicmotor-ww.com/weiwang/weixin_fuwu/images/guanjia/close.png) no-repeat; background-size: 100% 100%;}
.tel-laryer a{ display: block; width: 100%; text-align: center; line-height: 3.5rem; font-size: .32rem; color: blue; text-decoration: underline;}




/*.commentsWrap{ width: 100% !important;}
			.commentsItem-new{ position: relative; margin: 0 auto; width: 6.8rem; height: 1.25rem; border-top: 1px solid #e4e4e4;}
			.moreItem1-new{ position: absolute; left: 0; top: .24rem; width: .66rem; height: .66rem; border-radius: 50%; border: 3px solid #a7a6a2; overflow: hidden;}
			.moreItem1-new img{ width: 100%; height: 100%;}
			.moreItem2-new h6{ position: relative; margin-left: 1.35rem; float: left; margin-top: .3rem; font-size: .2rem; color: #000;}
			.moreItem2-new small{ position: relative; margin-left: .2rem; float: left; margin-top: .3rem; font-size: .15rem; color: #959595;}
			.moreItem2-new p{ position: absolute; top: .8rem; left: 1.35rem; font-size: .2rem; color: #646464;}
		
			.commentsWrap>div.title{ font-size: .3rem; line-height: .5rem;}*/


/*我的订单*/
.dingdan{  width: 100%; height: auto;background:rgba(234,234,234,1); }
.dingdan .switch{ width: 7.5rem; height: .85rem; background:rgba(255,255,255,1);display: flex; align-items: center; justify-content: space-around; }
.dingdan .switch li{ font-size: font-size:0.28rem;font-family:MicrosoftYaHei;color:#333333; }
.dingdan .switch .selected{ color: rgba(72,123,188,1); }
/*.dingdan .content{ width: 100%; height: 100%; }*/
.dingdan .content .all{ width: 100%; height: 100%; }
.dingdan .content .all .waitpay{ width: 100%; height:auto; background: rgba(255,255,255,1); margin-top: .13rem; }
.dingdan .content .all .waitpay .title{ height: .71rem; border-bottom: .01rem solid #efefef; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; }
.dingdan .content .all .waitpay .title p{ font-size:0.25rem;color:rgba(102,102,102,1); }
.dingdan .content .all .waitpay .title span{ font-size:0.25rem;color:rgba(255,81,81,1); }
.dingdan .content .all .waitpay .mony{ display: flex; align-items: center; width: 7.5rem; height: 2.68rem; border-bottom: .01rem solid #efefef; }
.dingdan .content .all .waitpay .mony .le{ width: 2.12rem; height: 2.12rem; padding: 0 .3rem; }
.dingdan .content .all .waitpay .mony .rig{ width: 4.55rem; height: 2.12rem;}
.dingdan .content .all .waitpay .mony .rig p{ font-size:0.28rem;color:rgba(51,51,51,1);line-height:0.51rem; }
.dingdan .content .all .waitpay .mony .rig h5{ font-size:0.26rem;color:rgba(153,153,153,1); padding-top: .13rem; }
.dingdan .content .all .waitpay .mony .rig h6{ font-size:.28rem;color:rgba(255,81,81,1); width: 100%;display: flex; justify-content: space-between; padding-top: .24rem; }
.dingdan .content .all .waitpay .mony .rig h6 span{ font-size:  .28rem;  color:rgba(51,51,51,1);}
.dingdan .content .all .waitpay .waitfoot{ width: 100%; height: .85rem; background: rgba(255,255,255,1); }
.dingdan .content .all .waitpay .waitfoot .twobtn{ display: flex; align-items: center; justify-content: space-between; width: 3.41rem; height: 100%; float: right; margin-right: .3rem; }
.dingdan .content .all .waitpay .waitfoot .twobtn .btn{ width: 1.48rem; height: .53rem; background:rgba(234,234,234,1);
border-radius: .05rem; font-size: .25rem; color:rgba(51,51,51,1) ; line-height: .53rem; text-align: center; }
.dingdan .content .all .waitpay .waitfoot .twobtn .but{ width: 1.48rem; height: .53rem; background:rgba(72,123,231884,1);
border-radius: .05rem; font-size: .25rem; color:rgba(255,255,255,1); line-height: .53rem; text-align: center; }

.dingdan .content .all .waitsend{ width: 100%; height:auto; background: rgba(255,255,255,1); margin-top: .13rem; }
.dingdan .content .all .waitsend .title{ height: .71rem; border-bottom: .01rem solid #efefef; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; }
.dingdan .content .all .waitsend .title p{ font-size:0.25rem;color:rgba(102,102,102,1); }
.dingdan .content .all .waitsend .title span{ font-size:0.25rem;color:rgba(255,81,81,1); }
.dingdan .content .all .waitsend .mony{ display: flex; align-items: center; width: 7.5rem; height: 2.68rem; border-bottom: .01rem solid #efefef; }
.dingdan .content .all .waitsend .mony .le{ width: 2.12rem; height: 2.12rem; padding: 0 .3rem; }
.dingdan .content .all .waitsend .mony .rig{ width: 4.55rem; height: 2.12rem;}
.dingdan .content .all .waitsend .mony .rig p{ font-size:0.28rem;color:rgba(51,51,51,1);line-height:0.51rem; }
.dingdan .content .all .waitsend .mony .rig h5{ font-size:0.26rem;color:rgba(153,153,153,1); padding-top: .13rem; }
.dingdan .content .all .waitsend .mony .rig h6{ font-size:.28rem;color:rgba(255,81,81,1); width: 100%;display: flex; justify-content: space-between; padding-top: .24rem; }
.dingdan .content .all .waitsend .mony .rig h6 span{ font-size:  .28rem;  color:rgba(51,51,51,1);}
.dingdan .content .all .waitsend .waitfoot{ width: 100%; height: .85rem; background: rgba(255,255,255,1); }
.dingdan .content .all .waitsend .waitfoot .twobtn{ display: flex; align-items: center; justify-content: space-between; width: 1.48rem; height: 100%; float: right; margin-right: .3rem; }
.dingdan .content .all .waitsend .waitfoot .twobtn .btn{ width: 1.48rem; height: .53rem; background:rgba(234,234,234,1);
border-radius: .05rem; font-size: .25rem; color:rgba(51,51,51,1) ; line-height: .53rem; text-align: center; }
.dingdan .content .all .waitsend .waitfoot .twobtn .but{ width: 1.48rem; height: .53rem; background:rgba(72,123,231884,1);
border-radius: .05rem; font-size: .25rem; color:rgba(255,255,255,1); line-height: .53rem; text-align: center; }

.dingdan .content .all .waitclose{ width: 100%; height:auto; background: rgba(255,255,255,1); margin-top: .13rem; }
.dingdan .content .all .waitclose .title{ height: .71rem; border-bottom: .01rem solid #efefef; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; }
.dingdan .content .all .waitclose .title p{ font-size:0.25rem;color:rgba(102,102,102,1); }
.dingdan .content .all .waitclose .title span{ font-size:0.25rem;color:rgba(255,81,81,1); }
.dingdan .content .all .waitclose .mony{ display: flex; align-items: center; width: 7.5rem; height: 2.68rem; border-bottom: .01rem solid #efefef; }
.dingdan .content .all .waitclose .mony .le{ width: 2.12rem; height: 2.12rem; padding: 0 .3rem; }
.dingdan .content .all .waitclose .mony .rig{ width: 4.55rem; height: 2.12rem;}
.dingdan .content .all .waitclose .mony .rig p{ font-size:0.28rem;color:rgba(51,51,51,1);line-height:0.51rem; }
.dingdan .content .all .waitclose .mony .rig h5{ font-size:0.26rem;color:rgba(153,153,153,1); padding-top: .13rem; }
.dingdan .content .all .waitclose .mony .rig h6{ font-size:.28rem;color:rgba(255,81,81,1); width: 100%;display: flex; justify-content: space-between; padding-top: .24rem; }
.dingdan .content .all .waitclose .mony .rig h6 span{ font-size:  .28rem;  color:rgba(51,51,51,1);}
.dingdan .content .all .waitclose .waitfoot{ width: 100%; height: .85rem; background: rgba(255,255,255,1); }
.dingdan .content .all .waitclose .waitfoot .twobtn{ display: flex; align-items: center; justify-content: space-between; width: 3.41rem; height: 100%; float: right; margin-right: .3rem; }
.dingdan .content .all .waitclose .waitfoot .twobtn .btn{ width: 1.48rem; height: .53rem;border-radius: .05rem; font-size: .25rem; color:rgba(72,123,188,1); border: .01rem solid rgba(72,123,188,1); line-height: .53rem; text-align: center; }
.dingdan .content .all .waitclose .waitfoot .twobtn .but{ width: 1.48rem; height: .53rem; background:rgba(72,123,231884,1);
border-radius: .05rem; font-size: .25rem; color:rgba(255,255,255,1); line-height: .53rem; text-align: center; }

.dingdan .content .all .nomore{ margin-bottom: 1.06rem; width: 100%; height: .68rem; background: rgba(234,234,234,1); }
.dingdan .content .all .nomore p{ font-size: .21rem; color: #bababa; line-height: .68rem; text-align: center; }
.dingdan .content .all .footer{ position: fixed; bottom: 0; width: 100%; height: 1.06rem; background: rgba(42,42,42,1);box-shadow:0px px 20px rgba(0,0,0,0.3); display: flex; align-items: center; justify-content: space-around;  }
.dingdan .content .all .footer dl dd{ font-size: .21rem; color: rgba(255,255,255,1); padding-top: .12rem; }
.dingdan .content .all .footer dl{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.dingdan .content .all .footer .act{ color: #487BBC; }

/*待发货*/
.daifahuo{ width: 100%; height: auto;background:rgba(234,234,234,1); }
.daifahuo .waitpay{ width: 100%; height:auto; background: rgba(255,255,255,1); margin-top: .21rem; }
.daifahuo .waitpay .title{ height: .71rem; border-bottom: .01rem solid #efefef; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; }
.daifahuo .waitpay .title p{ font-size:0.25rem;color:rgba(102,102,102,1); }
.daifahuo .waitpay .title span{ font-size:0.25rem;color:rgba(255,81,81,1); }
.daifahuo .waitpay .mony{ display: flex; align-items: center; width: 7.5rem; height: 2.68rem; border-bottom: .01rem solid #efefef; }
.daifahuo .waitpay .mony .le{ width: 2.12rem; height: 2.12rem; padding: 0 .3rem; }
.daifahuo .waitpay .mony .rig{ width: 4.55rem; height: 2.12rem;}
.daifahuo .waitpay .mony .rig p{ font-size:0.28rem;color:rgba(51,51,51,1);line-height:0.51rem; }
.daifahuo .waitpay .mony .rig h5{ font-size:0.26rem;color:rgba(153,153,153,1); padding-top: .13rem; }
.daifahuo .waitpay .mony .rig h6{ font-size:.28rem;color:rgba(255,81,81,1); width: 100%;display: flex; justify-content: space-between; padding-top: .24rem; }
.daifahuo .waitpay .mony .rig h6 span{ font-size:  .28rem;  color:rgba(51,51,51,1);}
.daifahuo .waitpay .waitfoot{ width: 100%; height: .85rem; background: rgba(255,255,255,1); }
.daifahuo .waitpay .waitfoot .twobtn{ display: flex; align-items: center; justify-content: space-between; width: 3.41rem; height: 100%; float: right; margin-right: .3rem; }
.daifahuo .waitpay .waitfoot .twobtn .btn{ width: 1.48rem; height: .53rem; background:rgba(234,234,234,1);
border-radius: .05rem; font-size: .25rem; color:rgba(51,51,51,1) ; line-height: .53rem; text-align: center; }
.daifahuo .waitpay .waitfoot .twobtn .but{ width: 1.48rem; height: .53rem; background:rgba(72,123,231884,1);
border-radius: .05rem; font-size: .25rem; color:rgba(255,255,255,1); line-height: .53rem; text-align: center; }
.daifahuo .title{ width: 100%; height: 2.52rem; background: #fff; }
.daifahuo .title .top{ padding: 0 .26rem; background: #487BBC; height: .7rem;display: flex; align-items: center; }
.daifahuo .title .top dl{ display: flex; align-items: center; }
.daifahuo .title .top dl dt{ width: .32rem; height: .27rem; }
.daifahuo .title .top dl dd{ font-size: .28rem; color: #fff; padding-left: .14rem; }
.daifahuo .title .addre{ height: 1.82rem; padding: 0 .3rem; }
.daifahuo .title .addre .peo{ width: 100%; height: .74rem;display: flex; align-items: center; justify-content: space-between; }
.daifahuo .title .addre .peo p{ font-size: .28rem; color: #333333; }
.daifahuo .title .addre .peo p span{ font-size: .28rem; color: #999999; }
.daifahuo .title .addre .peo h6{ font-size: .2rem; color: #333333; }
.daifahuo .title .addre .address{ align-items: flex-start; width: 100%; height: 1.09rem; display: flex; justify-content: space-between; }
.daifahuo .title .addre .address p{ width: .24rem; height: .32rem; }
.daifahuo .title .addre .address span{ display: block; width: 6.4rem; font-size: .25rem; color: #333333; line-height: .5rem; }
.daifahuo .footer{  height: 3.91rem; margin-top: .21rem; background: #fff; }
.daifahuo .footer h5{padding: 0 .3rem; border-bottom: .01rem solid #efefef; height: .7rem; font-size: .25rem; line-height: .7rem; color: #999999; }
.daifahuo .footer .total{ padding: 0 .3rem; border-bottom: .01rem solid #efefef; height: 1.65rem; display: flex; flex-direction: column; justify-content: center; }
.daifahuo .footer .total p{ font-size: .25rem; color: #666666; display: flex;justify-content: space-between; line-height: .46rem; }
.daifahuo .footer .total .spel{  font-size: .25rem; color: #666666; width: 100%; display: flex; justify-content: space-between; }
.daifahuo .footer .total .spel h3{ width: 2.42rem; display: flex; align-items: center; }
.daifahuo .footer .total .spel .butn{ align-items: center; width: 2.41rem; display: flex; justify-content: space-between; }
.daifahuo .footer .total .spel .butn h6{ font-size: .25rem; color: #666666; }
.daifahuo .footer .total .spel .butn .button{ font-size: .21rem; border-radius: .05rem;  color: #fff; border: none; width: 1.04rem; height: .39rem; background: #487BBC; }

/*商品结算*/
.jiesuan{ width: 100%; height: auto;background:rgba(234,234,234,1); }
.jiesuan .waitpay{ width: 100%; height:auto; background: rgba(255,255,255,1); margin-top: .21rem; }
.jiesuan .waitpay .title{ height: .71rem; border-bottom: .01rem solid #efefef; padding: 0 .3rem; display: flex; align-items: center; justify-content: space-between; }
.jiesuan .waitpay .title p{ font-size:0.25rem;color:rgba(102,102,102,1); }
.jiesuan .waitpay .title span{ font-size:0.25rem;color:rgba(255,81,81,1); }
.jiesuan .waitpay .mony{ display: flex; align-items: center; width: 7.5rem; height: 2.68rem; border-bottom: .01rem solid #efefef; }
.jiesuan .waitpay .mony .le{ width: 2.12rem; height: 2.12rem; padding: 0 .3rem; }
.jiesuan .waitpay .mony .rig{ width: 4.55rem; height: 2.12rem;}
.jiesuan .waitpay .mony .rig p{ font-size:0.28rem;color:rgba(51,51,51,1);line-height:0.51rem; }
.jiesuan .waitpay .mony .rig h5{ font-size:0.26rem;color:rgba(153,153,153,1); padding-top: .13rem; }
.jiesuan .waitpay .mony .rig h6{ font-size:.28rem;color:rgba(255,81,81,1); width: 100%;display: flex; justify-content: space-between; padding-top: .24rem; }
.jiesuan .waitpay .mony .rig h6 span{ font-size:  .28rem;  color:rgba(51,51,51,1);}
.jiesuan .waitpay .waitfoot{ width: 100%; height: .85rem; background: rgba(255,255,255,1); }
.jiesuan .waitpay .waitfoot .twobtn{ display: flex; align-items: center; justify-content: space-between; width: 3.41rem; height: 100%; float: right; margin-right: .3rem; }
.jiesuan .waitpay .waitfoot .twobtn .btn{ width: 1.48rem; height: .53rem; background:rgba(234,234,234,1);
border-radius: .05rem; font-size: .25rem; color:rgba(51,51,51,1) ; line-height: .53rem; text-align: center; }
.jiesuan .waitpay .waitfoot .twobtn .but{ width: 1.48rem; height: .53rem; background:rgba(72,123,231884,1);
border-radius: .05rem; font-size: .25rem; color:rgba(255,255,255,1); line-height: .53rem; text-align: center; }
.jiesuan .title{ width: 100%; height: 2.52rem; background: #fff; }
.jiesuan .title .top{ padding: 0 .26rem; background: #487BBC; height: .7rem;display: flex; align-items: center; }
.jiesuan .title .top dl{ display: flex; align-items: center; }
.jiesuan .title .top dl dt{ width: .31rem; height: .31rem; }
.jiesuan .title .top dl dd{ font-size: .28rem; color: #fff; padding-left: .14rem; }
.jiesuan .title .addre{ height: 1.82rem; padding: 0 .3rem; }
.jiesuan .title .addre .peo{ width: 100%; height: .74rem;display: flex; align-items: center; justify-content: space-between; }
.jiesuan .title .addre .peo p{ font-size: .28rem; color: #333333; }
.jiesuan .title .addre .peo p span{ font-size: .28rem; color: #999999; }
.jiesuan .title .addre .peo h6{ font-size: .2rem; color: #333333; }
.jiesuan .title .addre .address{ align-items: flex-start; width: 100%; height: 1.09rem; display: flex; justify-content: space-between; }
.jiesuan .title .addre .address p{ width: .24rem; height: .32rem; margin-top: .06rem; }
.jiesuan .title .addre .address span{ display: block; width: 6.4rem; font-size: .25rem; color: #333333; line-height: .5rem; }
.jiesuan .title .addre .address h1{ width: .19rem; height: .35rem; margin-top: .06rem;}
.jiesuan .footer{ margin-bottom: 1.28rem; height: auto; margin-top: .21rem; background: #fff; }
.jiesuan .footer h5{padding: 0 .3rem; border-bottom: .01rem solid #efefef; height: .7rem; font-size: .25rem; line-height: .7rem; color: #999999; }
.jiesuan .footer .total{ padding: 0 .3rem; border-bottom: .01rem solid #efefef; height: 2.58rem; display: flex; flex-direction: column; justify-content: center; }
.jiesuan .footer .total p{ font-size: .25rem; color: #666666; display: flex;justify-content: space-between; line-height: .46rem; }
.jiesuan .footer .total .spel{  font-size: .25rem; color: #666666; width: 100%; display: flex; justify-content: space-between; }
.jiesuan .footer .total .spel h3{ width: 2.42rem; display: flex; align-items: center; }
.jiesuan .footer .total .spel .butn{ align-items: center; width: 2.41rem; display: flex; justify-content: space-between; }
.jiesuan .footer .total .spel .butn h6{ font-size: .25rem; color: #666666; }
.jiesuan .footer .total .spel .butn .button{ font-size: .21rem; border-radius: .05rem;  color: #fff; border: none; width: 1.04rem; height: .39rem; background: #487BBC; }
.jiesuan .footer .totals{ padding: 0 .3rem; border-bottom: .01rem solid #efefef; height:1.66rem; display: flex; flex-direction: column; justify-content: center; }
.jiesuan .footer .totals p{ font-size: .25rem; color: #666666; display: flex;justify-content: space-between; line-height: .46rem; }
.jiesuan .footer .totals .spel{  font-size: .25rem; color: #666666; width: 100%; display: flex; justify-content: space-between; }
.jiesuan .footer .totals .spel h3{ width: 2.42rem; display: flex; align-items: center; }
.jiesuan .footer .totals .spel .butn{ align-items: center; width: 2.41rem; display: flex; justify-content: space-between; }
.jiesuan .footer .totals .spel .butn h6{ font-size: .25rem; color: #666666; }
.jiesuan .footer .totals .spel .butn .button{ font-size: .21rem; border-radius: .05rem;  color: #fff; border: none; width: 1.04rem; height: .39rem; background: #487BBC; }

.jiesuan .foot{ display: flex;align-items: center; box-shadow:0px px 14px rgba(0,0,0,0.2); height: 1.04rem; width: 100%; background: #fff;position: fixed; bottom: 0;}
.jiesuan .foot .pay{ width: 3.47rem; height: 100%; line-height: 1.04rem; font-size: .28rem; color: #333333; text-align: center; }
.jiesuan .foot .quxiao{ width: 2.01rem; height: 100%; }
.jiesuan .foot .quxiao .btn{ font-size: .28rem; color: #FFFFFF; line-height: 1.04rem; width: 100%; height: 100%; background: #A9A9A9; border: none; }
.jiesuan .foot .duihuan{ width: 2.02rem; height: 100%; }
.jiesuan .foot .duihuan .btn{ font-size: .28rem; color: #FFFFFF; line-height: 1.04rem; width: 100%; height: 100%; background: #FF5151; border: none; }







